## Getting Started

In [81]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [82]:
people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [83]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [84]:

people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [85]:
import pandas as pd

In [86]:
df = pd.DataFrame(people) #passing dictionary as dataframe

In [87]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [88]:

df['email'] 
#this is preferred over df.email as for example if column named count then it will give errors for df.count as it is a different method in python

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [89]:
type(df['email'])

pandas.core.series.Series

Series:  1D array  / rows of data

Dataframes: 2D array/ rows and columns of data

In [90]:
df.email #same as before

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [91]:
df[['last', 'email']]  #this filters out another dataframe
#2 brackets as multiple columns. Why multiple columns? because dataframe . Series only 1 pair of brackets as a single dimension.

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [92]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [93]:
df.iloc[0]#this is to get rows. and loc as well.  iloc uses index (integer location)

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [94]:
df.iloc[[0,1]] #first 2 rows of the dataframe

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [95]:
df.iloc[[0, 1], 2]  #getting third (index 2) column, for the first 2 rows.

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [96]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [97]:
df.loc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [98]:
df.loc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [99]:

df.loc[[0, 1], ['email', 'last']] #note the order

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [100]:
df.set_index('email')

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [101]:
df #df still doesn't change

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [102]:
df.set_index('email', inplace=True) #error below, as cannot set multiple times, refer to reset below.

In [103]:
df #df cahnged

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [104]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [105]:
df.loc['CoreyMSchafer@gmail.com']

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [106]:
df.loc['CoreyMSchafer@gmail.com', 'last']

'Schafer'

In [107]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [108]:
df.reset_index(inplace = True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [109]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [110]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John') #cannot use filter, parantheses not essential #and didn't work, use &

In [111]:
filt = (df['last'] == 'Doe') | (df['first'] == 'John')  #or

In [112]:
df[filt]

               email first last
1  JaneDoe@email.com  Jane  Doe
2  JohnDoe@email.com  John  Doe

In [113]:
df.loc[filt] #same output as before

               email first last
1  JaneDoe@email.com  Jane  Doe
2  JohnDoe@email.com  John  Doe

In [114]:
df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [115]:
df.loc[-filt,'email'] #opposite of filter.

0    CoreyMSchafer@gmail.com
Name: email, dtype: object

In [116]:
df.columns

Index(['email', 'first', 'last'], dtype='object')

In [135]:
df.columns = ['email', 'first_name', 'last_name']

In [136]:
df

                     email first_name            last_name
0  CoreyMSchafer@gmail.com      Corey              Schafer
1        JaneDoe@email.com       Jane                  Doe
2                     John      Smith  JohnSmith@email.com

In [137]:
df.columns = [x.upper() for x in df.columns]

In [138]:
df

                     EMAIL FIRST_NAME            LAST_NAME
0  CoreyMSchafer@gmail.com      Corey              Schafer
1        JaneDoe@email.com       Jane                  Doe
2                     John      Smith  JohnSmith@email.com

In [139]:
df.columns = df.columns.str.replace(' ', '_') #usually will do this inital stages to rename all columns such that there are no spaces in the names. 
#if column name got spaces do this first, as it will be harder to call them later on

In [126]:
df.columns = [x.lower() for x in df.columns]

In [127]:
df.rename(columns = {'first_name': 'first', 'last_name': 'last'}, inplace = True)

In [140]:
df

                     EMAIL FIRST_NAME            LAST_NAME
0  CoreyMSchafer@gmail.com      Corey              Schafer
1        JaneDoe@email.com       Jane                  Doe
2                     John      Smith  JohnSmith@email.com

In [142]:
df.loc[2] = ['JohnSmith@email.com', 'John', 'Smith']

In [143]:
df

                     EMAIL FIRST_NAME LAST_NAME
0  CoreyMSchafer@gmail.com      Corey   Schafer
1        JaneDoe@email.com       Jane       Doe
2      JohnSmith@email.com       John     Smith

In [145]:
df.columns = [x.lower() for x in df.columns]

In [146]:
df

                     email first_name last_name
0  CoreyMSchafer@gmail.com      Corey   Schafer
1        JaneDoe@email.com       Jane       Doe
2      JohnSmith@email.com       John     Smith

In [148]:
df.loc[2,['last_name', 'email']]

last_name                  Smith
email        JohnSmith@email.com
Name: 2, dtype: object

In [149]:
df.rename(columns = {'first_name': 'first', 'last_name': 'last'}, inplace = True)

In [150]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2      JohnSmith@email.com   John    Smith

In [151]:
df.set_index('first', inplace=True)

In [152]:
df

                         email     last
first
Corey  CoreyMSchafer@gmail.com  Schafer
Jane         JaneDoe@email.com      Doe
John       JohnSmith@email.com    Smith

In [153]:
df

                         email     last
first
Corey  CoreyMSchafer@gmail.com  Schafer
Jane         JaneDoe@email.com      Doe
John       JohnSmith@email.com    Smith

In [154]:
df.reset_index(inplace = True)

In [155]:
df

   first                    email     last
0  Corey  CoreyMSchafer@gmail.com  Schafer
1   Jane        JaneDoe@email.com      Doe
2   John      JohnSmith@email.com    Smith

In [156]:
df = df[['first', 'last', 'email']]

In [157]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith      JohnSmith@email.com

In [158]:
df.loc[2, ['last','email']] = ['Doe', 'JohnDoe@email.com']

In [159]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [160]:
df.loc[2,'last'] = 'Smith'

In [161]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [162]:
df.at[2,'last'] = 'Doe' #just use loc

In [163]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [168]:
filt = (df['email'] == 'JohnDoe@email.com')
df[filt]['last']
#df[filt]['last'] = 'Smith'  ##cannot do this will give error SettingWithCopyWarning    
df.loc[filt, 'last'] ='Smith'

In [169]:
df['email'] = df['email'].str.lower()

In [170]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

apply
map
applymap
replace

### apply on series

In [171]:
#apply on series

df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [172]:
def update_email(email):
    return email.upper() #just example of function, there are easier ways to change to upper but just example  if you might want to do more difficult things

In [173]:
df['email'].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [174]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [175]:
df['email'] = df['email'].apply(update_email)

In [177]:
df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

In [178]:
df['email'] = df['email'].apply(lambda x: x.lower())

In [179]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

### apply on dataframes

In [180]:
df.apply(len) #applying len function not to every value in data frame but each series in data frame .. so this 3 values for each column that it is saying.. 3 rows ..

first    3
last     3
email    3
dtype: int64

In [182]:
df.apply(len, axis = 'columns') #3 columns using len, not actually giving len for each value in dataframe itself

0    3
1    3
2    3
dtype: int64

In [183]:
len(df['email']) #3 rows.. rows is default

3

In [184]:
df.apply(pd.Series.min) #first in alphabetical order

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [185]:
df.apply(lambda x: x.min()) #more useful for numerical data

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

## applymap for every individual element in dataframe

In [186]:
df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

In [187]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smith        johndoe@email.com

## map only works on series , used for substituting values

In [188]:
df['first'].map({'Corey': 'Chris', 'Jane':'Mary'}) #values that we didn't substitute became NaN values

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [189]:
df['first'].replace({'Corey':'Chris','Jane':'Mary'}) #doesn't become NaN

0    Chris
1     Mary
2     John
Name: first, dtype: object

Take note that everything that was done didn't change the dataframe as we did not set equal to the dataframe itself. Below we will do it.

In [192]:
df['first'] = df['first'].replace({'Corey':'Chris','Jane':'Mary'})

In [193]:
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com